# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
* List popular languages for Data Science
* List commonly used libraries that Data Scientists
* Table of commonly used Data Science Tools

## Author ##
Sk Rakib Ul Islam Rahat

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|---|
| JupyterLab/Notebook|
| Spyder|
| RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

[1] 17

This will convert 200 minutes to hours by diving by 60

In [8]:
minutes = 200
hour = minutes / 60
print(hour)

[1] 3.333333